* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'PP Neue Montreal Bold';
  src: url("fonts/PPNeueMontreal-Bold.ttf") format("truetype"), url("fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url("fonts/PPNeueMontreal-Book.ttf") format("truetype"), url("fonts/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
  font-family: 'PP Neue Montreal Regular';
  src: url("fonts/PPNeueMontreal-Regular.ttf") format("truetype"), url("fonts/PPNeueMontreal-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'PP Neue Montreal Light';
  src: url("fonts/PPNeueMontreal-Light.ttf") format("truetype"), url("fonts/PPNeueMontreal-Light.otf") format("opentype");
}

@font-face {
  font-family: 'PP Radio Grotesk Bold';
  src: url("fonts/PPRadioGrotesk-Bold.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'PP Radio Grotesk Regular';
  src: url("fonts/PPRadioGrotesk-Regular.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Regular.otf") format("opentype");
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

nav .main-nav {
  width: 100%;
  background: #524F42;
  z-index: 10;
  padding: 10px;
}

nav .main-nav .main-nav-cont {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 3px 12px;
}

nav .main-nav .main-nav-cont .logo {
  font-family: 'PP Radio Grotesk Bold';
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
  text-decoration: none;
  color: #ECE9E2;
  margin: 0;
}

nav .main-nav .main-nav-cont #user-details {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .main-nav .main-nav-cont #user-details #username {
  display: none;
  color: white;
  font-family: 'PP Neue Montreal Light';
  font-size: 15px;
}

nav .main-nav .main-nav-cont #user-details #dp {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .main-nav .main-nav-cont #user-details #dp:hover {
  border: 2px solid #393633;
}

nav .main-nav .main-nav-cont #user-details a {
  margin: 0;
}

nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 12px;
  font-size: 14px;
  margin-top: 6px;
}

nav .main-nav .main-nav-cont #user-details a #nav-login-button:hover {
  background-color: #5B7053;
}

nav .secondary-nav {
  width: 100%;
  background: #393633;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-height: 60px;
  -webkit-transition: max-height 0.45s ease;
  transition: max-height 0.45s ease;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

nav .secondary-nav .secondary-nav-cont {
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-height: 60px;
  padding: 15px 15px;
  gap: 40px;
  z-index: 10;
}

nav .secondary-nav .secondary-nav-cont .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  overflow: hidden;
}

nav .secondary-nav .secondary-nav-cont .menu-btn #nav-open {
  font-size: 28px;
  color: #ECE9E2;
  -webkit-text-stroke: 1px #ECE9E2;
  display: block;
}

nav .secondary-nav .secondary-nav-cont .menu-btn #nav-close {
  font-size: 36px;
  color: #ECE9E2;
  -webkit-text-stroke: 1px #ECE9E2;
  display: none;
}

nav .secondary-nav .secondary-nav-cont .nav-list {
  position: relative;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-transform: translateZ(-10px);
          transform: translateZ(-10px);
  background: #393633;
}

nav .secondary-nav .secondary-nav-cont .nav-list a {
  font-size: 22px;
  text-align: center;
  font-family: 'PP Neue Montreal Bold';
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ECE9E2;
}

nav .secondary-nav .secondary-nav-cont .nav-search {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background: #ECE9E2;
  height: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 18px;
  color: #393633;
  gap: 10px;
}

nav .secondary-nav .secondary-nav-cont .nav-search input {
  background: none;
  border: none;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background: #ECE9E2;
  height: 100%;
  width: 100%;
  font-family: 'PP Neue Montreal Regular';
  letter-spacing: 0.5px;
}

nav .secondary-nav .secondary-nav-cont .nav-search input:focus {
  outline: none;
}

nav .secondary-nav .secondary-nav-cont .nav-search i {
  -webkit-text-stroke: 1px #393633;
}

nav .secondary-nav .nav-list-mobile {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-transform: translateZ(-10px);
          transform: translateZ(-10px);
  background: #393633;
  padding: 20px 0 25px;
}

nav .secondary-nav .nav-list-mobile a {
  font-size: 22px;
  text-align: center;
  font-family: 'PP Neue Montreal Bold';
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ECE9E2;
}

.nav-display {
  max-height: 350px !important;
  -webkit-transition: max-height 0.45s ease;
  transition: max-height 0.45s ease;
}

.nav-open-toggle {
  display: none !important;
}

.nav-close-toggle {
  display: block !important;
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 10;
  }
  nav .main-nav {
    width: 100%;
    background: #524F42;
    z-index: 10;
    padding: 17px;
  }
  nav .main-nav .main-nav-cont {
    width: 95%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    padding: 3px 12px;
  }
  nav .main-nav .main-nav-cont .logo {
    font-family: 'PP Radio Grotesk Bold';
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 30px;
    text-decoration: none;
    color: #ECE9E2;
  }
  nav .main-nav .main-nav-cont #user-details #username {
    display: block;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
  }
  nav .main-nav .main-nav-cont #user-details #dp {
    height: 45px;
    width: 45px;
    margin-right: 15px;
  }
  nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
  }
  nav .secondary-nav {
    width: 100%;
    background: #393633;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    max-height: 60px;
    -webkit-transition: max-height 0.45s ease;
    transition: max-height 0.45s ease;
  }
  nav .secondary-nav .secondary-nav-cont {
    position: relative;
    width: 85%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    max-height: 60px;
    padding: 13px 15px;
    gap: 50px;
    z-index: 10;
  }
  nav .secondary-nav .secondary-nav-cont .nav-search input {
    font-size: 13px;
  }
  nav .secondary-nav .secondary-nav-cont .menu-btn {
    display: none;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
    background: #393633;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list a {
    font-size: 18px;
    text-align: center;
    font-family: 'PP Neue Montreal Bold';
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #ECE9E2;
    padding: 22px 5px 18px;
  }
  nav .secondary-nav .nav-list-mobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 10;
  }
  nav .main-nav {
    width: 100%;
    background: #524F42;
    z-index: 10;
  }
  nav .main-nav .main-nav-cont {
    width: 92%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    padding: 3px 12px;
  }
  nav .main-nav .main-nav-cont .logo {
    font-family: 'PP Radio Grotesk Bold';
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 40px;
    text-decoration: none;
    color: #ECE9E2;
  }
  nav .main-nav .main-nav-cont #user-details #dp {
    width: 56px;
    height: 56px;
    margin-right: 30px;
  }
  nav .main-nav .main-nav-cont #user-details #username {
    font-size: 25px;
  }
  nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
    font-size: 20px;
    padding: 13px 20px;
  }
  nav .secondary-nav {
    width: 100%;
    background: #393633;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    max-height: 70px;
    -webkit-transition: max-height 0.45s ease;
    transition: max-height 0.45s ease;
  }
  nav .secondary-nav .secondary-nav-cont {
    position: relative;
    width: 65%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    max-height: 60px;
    padding: 35px 15px;
    gap: 50px;
    z-index: 10;
  }
  nav .secondary-nav .secondary-nav-cont .nav-search input {
    font-size: 17px;
  }
  nav .secondary-nav .secondary-nav-cont .menu-btn {
    display: none;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
    background: #393633;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list a {
    font-size: 22px;
    text-align: center;
    font-family: 'PP Neue Montreal Bold';
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #ECE9E2;
    padding: 22px 5px 18px;
  }
  nav .secondary-nav .secondary-nav-cont .nav-search {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    background: #ECE9E2;
    height: 42px;
  }
  nav .secondary-nav .nav-list-mobile {
    display: none;
  }
}

.add-post-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
  bottom: 0;
  background: #ECE9E2;
}

.add-post-cont #add-post-btn {
  padding: 8px 16px;
  color: #ECE9E2;
  background: #5B7053;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-post-cont #add-post-btn p {
  font-family: 'PP Radio Grotesk Regular';
  font-weight: 700;
  letter-spacing: 1px;
  color: red;
  margin-bottom: 0;
  font-size: 22px;
  color: white;
}

.add-post-cont #add-post-btn i {
  font-size: 26px;
}

.feed-grid-section {
  width: 100%;
  background: #ECE9E2;
  padding: 30px 20px;
}

.feed-grid-section .feed-grid-cont {
  width: 100%;
  margin: auto;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
          column-width: 100%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-column-fill: auto;
          column-fill: auto;
  -webkit-column-rule: 100%;
          column-rule: 100%;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.feed-grid-section .feed-grid-cont .grid-item:hover {
  cursor: pointer;
}

.feed-grid-section .feed-grid-cont .grid-item:hover .post-data-cont-top,
.feed-grid-section .feed-grid-cont .grid-item:hover .post-data-cont-bottom {
  opacity: 0;
}

.feed-grid-section .feed-grid-cont .grid-item:hover .post-hover {
  opacity: 0;
  cursor: pointer;
}

.feed-grid-section .feed-grid-cont .grid-item {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  -webkit-column-span: 1;
          column-span: 1;
  background: #393633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top,
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  padding: 15px 22px;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-avatar-cont,
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-avatar-cont {
  margin-left: 0;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-avatar-cont img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: solid 2px #ECE9E2;
  background: #5B7053;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont {
  margin-right: 0;
  padding: 0px 2px;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont i {
  color: #ECE9E2;
  font-size: 32px;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  right: 0;
  color: #ECE9E2;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom i {
  font-size: 32px;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom .post-location {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
  line-height: 28px;
}

.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom .view-more {
  font-size: 20px;
  text-transform: capitalize;
}

.feed-grid-section .feed-grid-cont .grid-item .post-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(57, 54, 51, 0.95)), color-stop(95%, rgba(57, 54, 51, 0.25)));
  background: linear-gradient(0deg, rgba(57, 54, 51, 0.95) 10%, rgba(57, 54, 51, 0.25) 95%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.feed-grid-section .feed-grid-cont .grid-item .post-img {
  width: 100%;
}

.page-disable {
  overflow: hidden !important;
  height: 100vh !important;
}

.active-post-modal {
  -webkit-transform: translateX(0vw) !important;
          transform: translateX(0vw) !important;
  visibility: visible !important;
  -webkit-transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out !important;
  transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out !important;
  transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out !important;
  transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out !important;
}

.post-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  background: #393633;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.post-modal .exit-modal {
  width: 100%;
  height: 45px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  right: 0px;
  z-index: 75;
}

.post-modal .exit-modal .exit-modal-icon {
  font-size: 24px;
  color: #ECE9E2;
  -webkit-text-stroke: 1px #ECE9E2;
}

.post-modal .post-modal-cont::-webkit-scrollbar {
  display: none;
}

.post-modal .post-modal-cont {
  position: relative;
  top: 45px;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;
  background: red;
  background: #ECE9E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.post-modal .post-modal-cont .img-cont {
  width: 100%;
  background: #393633;
  border-bottom: solid 2px #393633;
}

.post-modal .post-modal-cont .img-cont img {
  width: 100%;
  max-height: 45vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.post-modal .post-modal-cont .post-modal-content-cont {
  width: 100%;
  min-height: 54.5vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont,
.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont,
.post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont {
  width: 100%;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont {
  height: 90px;
  max-height: 90px;
  background: #ECE9E2;
  border-bottom: solid 2px #393633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 10px 20px;
  gap: 10px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 2px #393633;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details {
  margin-left: 0;
  position: relative;
  max-width: 60%;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 16px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details .post-user-name {
  font-weight: 800;
  margin: 0;
  display: block;
  font-family: 'PP Neue Montreal Bold';
  font-size: 20px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details .post-location {
  text-align: left;
  margin: 0;
  display: block;
  font-family: 'PP Neue Montreal Regular';
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-interactions-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-right: 0;
  gap: 10px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-interactions-cont i {
  font-size: 34px;
  line-height: 34px;
  padding: 3px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont {
  width: 100%;
  padding-bottom: 75px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ECE9E2;
  font-family: 'PP Neue Montreal Regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
  gap: 10px;
  font-family: 'PP Neue Montreal Regular';
  min-height: 50px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-user-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: solid 2px #393633;
  display: inline-block;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content p {
  margin: 10px auto 0px;
  font-size: 16px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content p .comment-user-name {
  font-family: 'PP Neue Montreal Bold';
  margin-right: 5px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont {
  min-height: 75px;
  background: #ECE9E2;
  border-top: solid 2px #393633;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
  gap: 10px;
  font-family: 'PP Neue Montreal Regular';
}

.post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .current-user-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: solid 2px #393633;
  display: inline-block;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .comment-input {
  min-height: 20px;
  height: 100%;
  margin-left: 0;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: 0;
  border: none;
  background: none;
  height: 48px;
  padding: 3px 5px;
  color: #393633;
  resize: none;
  font-size: 18px;
}

.post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .post-new-comment {
  font-size: 34px;
  line-height: 34px;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  .feed-grid-section {
    width: 100%;
    background: #ECE9E2;
    padding: 40px 20px;
  }
  .feed-grid-section .feed-grid-cont {
    width: 92%;
    margin: auto;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .post-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    background: #393633;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  .post-modal .exit-modal {
    width: 100%;
    height: 45px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: 0px;
    z-index: 75;
    background: red;
  }
  .post-modal .exit-modal .exit-modal-icon {
    font-size: 24px;
    color: #ECE9E2;
    -webkit-text-stroke: 1px #ECE9E2;
  }
  .post-modal .post-modal-cont::-webkit-scrollbar {
    display: none;
  }
  .post-modal .post-modal-cont {
    position: relative;
    top: 45px;
    width: 100%;
    min-height: calc(100vh - 50px);
    height: auto;
    background: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .post-modal .post-modal-cont .img-cont {
    width: 100%;
    background: #393633;
    border-bottom: solid 2px #393633;
  }
  .post-modal .post-modal-cont .img-cont img {
    width: 100%;
    max-height: 45vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .post-modal .post-modal-cont .post-modal-content-cont {
    width: 100%;
    min-height: 54.5vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont,
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont,
  .post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont {
    width: 100%;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont {
    height: 90px;
    max-height: 90px;
    border-bottom: solid 2px #393633;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    padding: 10px 20px;
    gap: 10px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px #393633;
    display: inline-block;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details {
    margin-left: 0;
    position: relative;
    max-width: 60%;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    font-size: 16px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details .post-user-name {
    font-weight: 800;
    margin: 0;
    display: block;
    font-family: 'PP Neue Montreal Bold';
    font-size: 20px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-user-details .post-location {
    text-align: left;
    margin: 0;
    display: block;
    font-family: 'PP Neue Montreal Regular';
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-interactions-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    margin-right: 0;
    gap: 10px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-user-cont .post-interactions-cont i {
    font-size: 34px;
    line-height: 34px;
    padding: 3px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont {
    width: 100%;
    padding-bottom: 75px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-family: 'PP Neue Montreal Regular';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 20px;
    gap: 10px;
    font-family: 'PP Neue Montreal Regular';
    min-height: 50px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-user-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: solid 2px #393633;
    display: inline-block;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: auto;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content p {
    margin: 10px auto 0px;
    font-size: 16px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-comments-cont .comment .comment-content p .comment-user-name {
    font-family: 'PP Neue Montreal Bold';
    margin-right: 5px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont {
    min-height: 75px;
    border-top: solid 2px #393633;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 20px;
    gap: 10px;
    font-family: 'PP Neue Montreal Regular';
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .current-user-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: solid 2px #393633;
    display: inline-block;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .comment-input {
    min-height: 20px;
    height: 100%;
    margin-left: 0;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    outline: 0;
    border: none;
    background: none;
    height: 48px;
    padding: 3px 5px;
    color: #393633;
    resize: none;
    font-size: 18px;
  }
  .post-modal .post-modal-cont .post-modal-content-cont .post-add-comment-cont .post-new-comment {
    font-size: 34px;
    line-height: 34px;
    padding: 3px;
  }
}

@media screen and (min-width: 1440px) {
  .post-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 25;
    background: rgba(57, 54, 51, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 100px;
  }
  .post-modal .exit-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 5px;
  }
  .post-modal .exit-modal .exit-modal-icon {
    font-size: 30px;
    color: #ECE9E2;
    -webkit-text-stroke: 2px #ECE9E2;
  }
  .post-modal .post-modal-cont {
    width: 1080px;
    min-width: 1180px;
    min-height: 80vh;
    aspect-ratio: 1/0.75;
    background: red;
    background: #ECE9E2;
  }
  .feed-grid-section {
    width: 100%;
    background: #ECE9E2;
    padding: 50px 20px;
  }
  .feed-grid-section .feed-grid-cont {
    max-width: 1420px;
    margin: auto;
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #524F42;
  width: 100%;
  color: white;
}

#footer-container {
  width: 70%;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 0.5fr 0.5fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
  margin-top: 50px;
}

.footer-section {
  width: 100%;
  grid-column: span 4;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.25em;
}

.footer-section p {
  font-size: 0.75em;
  margin-bottom: 0.2rem;
}

#subscribe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  grid-column: span 4;
}

#subscribe-section {
  width: 100%;
}

#subscribe-section h2 {
  font-size: 1em;
}

#subscribe-section input {
  width: 70%;
  height: 5.3vh;
}

#subscribe-section button {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 28%;
  padding: 10px 10px;
}

#icon-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#icon-section i {
  font-size: 2em;
  margin: 0.5em;
}

#copyright-banner {
  grid-column: span 4;
  background: #393633;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  #footer-container {
    width: 70%;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 0.5fr 0.5fr 0.25fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.25fr;
    gap: 0.5em;
  }
  .footer-section {
    grid-column: span 1;
  }
  #subscribe-container {
    grid-column: span 4;
  }
  #icon-section {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 1440px) {
  #footer-container {
    -ms-grid-columns: 1fr 1fr 1fr 3fr;
        grid-template-columns: 1fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr 0.5fr;
        grid-template-rows: 1fr 0.5fr;
  }
  .footer-section {
    grid-column: span 1;
  }
  #subscribe-container {
    width: 100%;
    grid-column: span 1;
  }
  #icon-section {
    grid-column: span 4;
  }
}

#login-body {
  background-color: #ECE9E2;
}

#login-body #login-img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

#login-body h1, #login-body h2 {
  font-family: 'PP Radio Grotesk Bold';
  color: #393633;
  text-align: center;
}

#login-body h2 {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 31px;
}

#login-body h1 {
  font-size: 72px;
  margin-top: -13px;
  margin-bottom: 50px;
}

#login-body #tagline {
  display: none;
}

#login-body #login-form {
  text-align: center;
  padding: 0 50px;
}

#login-body #login-form input {
  width: 100%;
  padding: 10px;
  font-family: 'PP Neue Montreal Light';
  font-size: 24px;
  border-radius: 0;
  border: 1px solid #393633;
  color: #524F42;
  background-color: #ECE9E2;
  margin-bottom: 16px;
}

#login-body #login-form #login-button-login-page {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
}

#login-body #login-form #login-button-login-page:hover {
  background-color: #524F42;
}

#login-body #login-form hr {
  margin: 25px 0;
  border: 1px solid black;
}

#login-body #login-form #signup-button-login-page {
  border: none;
  background-color: #5B7053;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
}

#login-body #login-form #signup-button-login-page:hover {
  background-color: #524F42;
}

#login-body #login-form a {
  text-decoration: none;
}

#login-body #login-form #guest-link {
  color: #5B7053;
  font-family: 'PP Neue Montreal Light';
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#login-body #login-form #guest-link:hover {
  color: #393633;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  #login-body #login-img {
    height: 220px;
  }
  #login-body #login-form {
    padding: 0 80px;
  }
}

@media only screen and (min-width: 768px) {
  #login-body #login-img {
    height: 338px;
  }
  #login-body #login-form {
    padding: 0 130px;
  }
  #login-body h1 {
    margin-bottom: 0;
  }
  #login-body #tagline {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'PP Neue Montreal Light';
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #login-body .login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100vh;
  }
  #login-body .login-container #img-container {
    width: 48%;
  }
  #login-body .login-container #img-container #login-img {
    width: 100%;
    height: 100%;
    -o-object-position: 35%;
       object-position: 35%;
  }
  #login-body .login-container .login-content-container {
    padding: 0 50px;
    width: 52%;
    margin: 100px 0;
  }
  #login-body .login-container .login-content-container h1, #login-body .login-container .login-content-container h2 {
    text-align: left;
  }
  #login-body .login-container .login-content-container h1 {
    font-size: 80px;
  }
  #login-body .login-container .login-content-container #tagline {
    text-align: left;
  }
  #login-body .login-container .login-content-container #login-form {
    padding: 0 100px 0 0;
  }
}

@media only screen and (min-width: 1440px) {
  #login-body .login-container .login-content-container {
    padding: 0 85px;
  }
  #login-body .login-container .login-content-container h1 {
    font-size: 120px;
  }
  #login-body .login-container .login-content-container h2 {
    font-size: 40px;
  }
  #login-body .login-container .login-content-container #login-form {
    padding: 0 200px 0 0;
  }
  #login-body .login-container .login-content-container #login-form #guest-link {
    margin-top: 10px;
  }
}

#signup-body {
  background-color: #ECE9E2;
}

#signup-body #login-img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

#signup-body h1, #signup-body h2 {
  font-family: 'PP Radio Grotesk Bold';
  color: #393633;
  text-align: center;
}

#signup-body h2 {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 31px;
}

#signup-body h1 {
  font-size: 72px;
  margin-top: -13px;
  margin-bottom: 20px;
}

#signup-body #tagline {
  display: none;
}

#signup-body #signup-form {
  text-align: center;
  padding: 0 50px;
}

#signup-body #signup-form input {
  width: 100%;
  padding: 10px 20px;
  font-family: 'PP Neue Montreal Light';
  font-size: 26px;
  border-radius: 0;
  border: 1px solid #393633;
  color: #524F42;
  background-color: #ECE9E2;
  margin-bottom: 16px;
}

#signup-body #signup-form #login-button-signup-page {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
}

#signup-body #signup-form #login-button-signup-page:hover {
  background-color: #524F42;
}

#signup-body #signup-form hr {
  margin: 20px 0;
  border: 1px solid black;
}

#signup-body #signup-form #signup-button-signup-page {
  border: none;
  background-color: #5B7053;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
}

#signup-body #signup-form #signup-button-signup-page:hover {
  background-color: #524F42;
}

#signup-body #signup-form a {
  text-decoration: none;
}

#signup-body #signup-form #guest-link {
  color: #5B7053;
  font-family: 'PP Neue Montreal Light';
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#signup-body #signup-form #guest-link:hover {
  color: #393633;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  #signup-body #login-img {
    height: 270px;
  }
  #signup-body #signup-form {
    padding: 0 80px;
  }
}

@media only screen and (min-width: 768px) {
  #signup-body #login-img {
    height: 338px;
  }
  #signup-body #signup-form {
    padding: 0 130px;
  }
  #signup-body h1 {
    margin-bottom: 0;
  }
  #signup-body #tagline {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'PP Neue Montreal Light';
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #signup-body .signup-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100vh;
  }
  #signup-body .signup-container #img-container {
    width: 48%;
  }
  #signup-body .signup-container #img-container #login-img {
    width: 100%;
    height: 100%;
    -o-object-position: 35%;
       object-position: 35%;
  }
  #signup-body .signup-container .signup-content-container {
    padding: 0 50px;
    width: 52%;
    margin: 60px 0 100px;
  }
  #signup-body .signup-container .signup-content-container h1, #signup-body .signup-container .signup-content-container h2 {
    text-align: left;
  }
  #signup-body .signup-container .signup-content-container h1 {
    font-size: 80px;
  }
  #signup-body .signup-container .signup-content-container #tagline {
    text-align: left;
  }
  #signup-body .signup-container .signup-content-container #signup-form {
    padding: 0 100px 0 0;
  }
}

@media only screen and (min-width: 1440px) {
  #signup-body .signup-container .signup-content-container {
    padding: 0 85px;
    margin: 100px 0;
  }
  #signup-body .signup-container .signup-content-container h1 {
    font-size: 120px;
  }
  #signup-body .signup-container .signup-content-container h2 {
    font-size: 40px;
  }
  #signup-body .signup-container .signup-content-container #signup-form {
    padding: 0 200px 0 0;
  }
  #signup-body .signup-container .signup-content-container #signup-form #guest-link {
    margin-top: 10px;
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.create-post-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 25;
  background: rgba(57, 54, 51, 0.75);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-post-modal .create-exit-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}

.create-post-modal .create-exit-modal .exit-modal-icon {
  font-size: 30px;
  color: #ECE9E2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.create-post-modal .create-exit-modal .exit-modal-icon:hover {
  font-size: 30px;
  color: #8C946F;
}

.create-post-modal .create-post-modal-cont {
  -webkit-animation: pop 0.3s ease forwards;
  width: 90%;
  padding: 30px;
  background: #ECE9E2;
  border: 5px solid #8C946F;
}

.create-post-modal #add-post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-post-modal #add-post-form input {
  width: 90%;
  border: none;
  height: 3rem;
  font-family: 'PP Neue Montreal Light', sans-serif;
  margin-bottom: 1rem;
  border: 1px solid black;
}

.create-post-modal #add-post-form label {
  font-size: 1.25rem;
  font-family: 'PP Neue Montreal Light', sans-serif;
  width: 85%;
}

.create-post-modal #add-post-form button {
  width: 100%;
  margin-top: 2rem;
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: 'PP Neue Montreal Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.create-post-modal #add-post-form button:hover {
  background: #5B7053;
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
}

.parsley-required {
  color: #b10000;
  list-style: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .create-post-modal-cont {
    max-width: 50%;
    background: red;
  }
  #add-post-form input {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .create-post-modal-cont {
    max-width: 30%;
    background: red;
  }
  #add-post-form input {
    max-width: 100%;
  }
}

body {
  background: #524F42;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'PP Neue Montreal Bold';
  font-weight: 800;
}
