@import "./modules/variables.scss";
@import "./modules/footer.scss";

* {
    margin: 0 auto;
    box-sizing: border-box;
}


body {
    background-color: aqua;
}

#result {
    width: 50%;

    img {
        width: 100px;
    }
}