@font-face {
  font-family: "PP Neue Montreal Bold";
  src: url("fonts/PPNeueMontreal-Bold.ttf") format("truetype"), url("fonts/PPNeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("fonts/PPNeueMontreal-Book.ttf") format("truetype"), url("fonts/PPNeueMontreal-Book.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Regular";
  src: url("fonts/PPNeueMontreal-Regular.ttf") format("truetype"), url("fonts/PPNeueMontreal-Regular.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Light";
  src: url("fonts/PPNeueMontreal-Light.ttf") format("truetype"), url("fonts/PPNeueMontreal-Light.otf") format("opentype");
}
@font-face {
  font-family: "PP Radio Grotesk Bold";
  src: url("fonts/PPRadioGrotesk-Bold.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Bold.otf") format("opentype");
}
@font-face {
  font-family: "PP Radio Grotesk Regular";
  src: url("fonts/PPRadioGrotesk-Regular.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Regular.otf") format("opentype");
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #524F42;
  width: 100%;
  color: white;
}

#footer-container {
  width: 70%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
  margin-top: 30px;
}

.footer-section {
  width: 100%;
  grid-column: span 4;
  margin-bottom: 20px;
}
.footer-section h2 {
  font-size: 1.25em;
}
.footer-section p {
  font-size: 0.75em;
  margin-bottom: 0.2rem;
}

#subscribe-container {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  grid-column: span 4;
}

#subscribe-section {
  width: 100%;
}
#subscribe-section h2 {
  font-size: 1em;
}
#subscribe-section input {
  width: 70%;
  height: 4vh;
}
#subscribe-section button {
  width: 28%;
  border: none;
  background: #8C946F;
  color: white;
  height: 4vh;
}

#icon-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
#icon-section i {
  font-size: 2em;
  margin: 0.5em;
}

#copyright-banner {
  grid-column: span 4;
  background: #393633;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  #footer-container {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.25fr;
    gap: 0.5em;
  }
  .footer-section {
    grid-column: span 1;
  }
  #subscribe-container {
    grid-column: span 4;
  }
  #icon-section {
    grid-column: span 4;
  }
}
@media only screen and (min-width: 1440px) {
  #footer-container {
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 0.5fr;
  }
  .footer-section {
    grid-column: span 1;
  }
  #subscribe-container {
    width: 100%;
    grid-column: span 1;
  }
  #icon-section {
    grid-column: span 4;
  }
}
* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

#result {
  width: 50%;
}
#result img {
  width: 100px;
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  src: url("fonts/PPNeueMontreal-Bold.ttf") format("truetype"), url("fonts/PPNeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("fonts/PPNeueMontreal-Book.ttf") format("truetype"), url("fonts/PPNeueMontreal-Book.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Regular";
  src: url("fonts/PPNeueMontreal-Regular.ttf") format("truetype"), url("fonts/PPNeueMontreal-Regular.otf") format("opentype");
}
@font-face {
  font-family: "PP Neue Montreal Light";
  src: url("fonts/PPNeueMontreal-Light.ttf") format("truetype"), url("fonts/PPNeueMontreal-Light.otf") format("opentype");
}
@font-face {
  font-family: "PP Radio Grotesk Bold";
  src: url("fonts/PPRadioGrotesk-Bold.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Bold.otf") format("opentype");
}
@font-face {
  font-family: "PP Radio Grotesk Regular";
  src: url("fonts/PPRadioGrotesk-Regular.ttf") format("truetype"), url("fonts/PPRadioGrotesk-Regular.otf") format("opentype");
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}
nav .main-nav {
  width: 100%;
  background: #524F42;
  z-index: 10;
  padding: 10px;
}
nav .main-nav .main-nav-cont {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 3px 12px;
}
nav .main-nav .main-nav-cont .logo {
  font-family: "PP Radio Grotesk Bold";
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration: none;
  color: #ECE9E2;
  margin: 0;
}

nav .main-nav .main-nav-cont #user-details {
  margin: 0;
}

nav .main-nav .main-nav-cont #user-details #username {
  color: white;
  font-family: 'PP Neue Montreal Light';
  font-size: 15px;
}

nav .main-nav .main-nav-cont #user-details #dp {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
}

nav .main-nav .main-nav-cont #user-details a {
  margin: 0;
}

nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: "PP Neue Montreal Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 5px 12px;
  font-size: 14px;
}

nav .main-nav .main-nav-cont #user-details a #nav-login-button:hover {
  background-color: #5B7053;
}
nav .secondary-nav {
  width: 100%;
  background: #393633;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-height: 60px;
  transition: max-height 0.45s ease;
}
nav .secondary-nav .secondary-nav-cont {
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-height: 60px;
  padding: 13px 15px;
  gap: 15px;
  z-index: 10;
}
nav .secondary-nav .secondary-nav-cont .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  overflow: hidden;
}
nav .secondary-nav .secondary-nav-cont .menu-btn #nav-open {
  font-size: 28px;
  color: #ECE9E2;
  -webkit-text-stroke: 1px #ECE9E2;
  display: block;
}
nav .secondary-nav .secondary-nav-cont .menu-btn #nav-close {
  font-size: 36px;
  color: #ECE9E2;
  -webkit-text-stroke: 1px #ECE9E2;
  display: none;
}
nav .secondary-nav .secondary-nav-cont .nav-list {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transform: translateZ(-10px);
  background: #393633;
}
nav .secondary-nav .secondary-nav-cont .nav-list a {
  font-size: 22px;
  text-align: center;
  font-family: "PP Neue Montreal Bold";
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ECE9E2;
}
nav .secondary-nav .secondary-nav-cont .nav-search {
  flex-basis: 1;
  background: #ECE9E2;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;
  color: #393633;
  gap: 10px;
}
nav .secondary-nav .secondary-nav-cont .nav-search input {
  background: none;
  border: none;
  flex-basis: 1;
  background: #ECE9E2;
  height: 100%;
  width: 100%;
  font-family: "PP Neue Montreal Regular";
  letter-spacing: 0.5px;
}
nav .secondary-nav .secondary-nav-cont .nav-search input:focus {
  outline: none;
}
nav .secondary-nav .secondary-nav-cont .nav-search i {
  -webkit-text-stroke: 1px #393633;
}
nav .secondary-nav .nav-list-mobile {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transform: translateZ(-10px);
  background: #393633;
  padding: 20px 0 25px;
}
nav .secondary-nav .nav-list-mobile a {
  font-size: 22px;
  text-align: center;
  font-family: "PP Neue Montreal Bold";
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ECE9E2;
}

.nav-display {
  max-height: 350px !important;
  transition: max-height 0.45s ease;
}

.nav-open-toggle {
  display: none !important;
}

.nav-close-toggle {
  display: block !important;
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  nav .main-nav {
    width: 100%;
    background: #524F42;
    z-index: 10;
  }
  nav .main-nav .main-nav-cont {
    width: 92%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3px 12px;
  }
  nav .main-nav .main-nav-cont .logo {
    font-family: "PP Radio Grotesk Bold";
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 38px;
    text-decoration: none;
    color: #ECE9E2;
  }
  nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  nav .secondary-nav {
    width: 100%;
    background: #393633;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 0.45s ease;
  }
  nav .secondary-nav .secondary-nav-cont {
    position: relative;
    width: 92%;
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    max-height: 60px;
    padding: 13px 15px;
    gap: 50px;
    z-index: 10;
  }
  nav .secondary-nav .secondary-nav-cont .menu-btn {
    display: none;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    transform: translateZ(-10px);
    background: #393633;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list a {
    font-size: 22px;
    text-align: center;
    font-family: "PP Neue Montreal Bold";
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #ECE9E2;
    padding: 22px 5px 18px;
  }
  nav .secondary-nav .nav-list-mobile {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  nav .main-nav {
    width: 100%;
    background: #524F42;
    z-index: 10;
  }
  nav .main-nav .main-nav-cont {
    width: 92%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3px 12px;
  }
  nav .main-nav .main-nav-cont .logo {
    font-family: "PP Radio Grotesk Bold";
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 50px;
    text-decoration: none;
    color: #ECE9E2;
  }
  nav .main-nav .main-nav-cont #user-details a #nav-login-button, nav .main-nav .main-nav-cont #user-details a #nav-logout-button {
    font-size: 20px;
    padding: 13px 20px;
  }
  nav .secondary-nav {
    width: 100%;
    background: #393633;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 0.45s ease;
  }
  nav .secondary-nav .secondary-nav-cont {
    position: relative;
    width: 65%;
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    max-height: 60px;
    padding: 13px 15px;
    gap: 50px;
    z-index: 10;
  }
  nav .secondary-nav .secondary-nav-cont .menu-btn {
    display: none;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transform: translateZ(-10px);
    background: #393633;
  }
  nav .secondary-nav .secondary-nav-cont .nav-list a {
    font-size: 22px;
    text-align: center;
    font-family: "PP Neue Montreal Bold";
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #ECE9E2;
    padding: 22px 5px 18px;
  }
  nav .secondary-nav .secondary-nav-cont .nav-search {
    flex-basis: 1;
    background: #ECE9E2;
    height: 42px;
  }
  nav .secondary-nav .nav-list-mobile {
    display: none;
  }
}
.add-post-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
  bottom: 0;
  background: #ECE9E2;
}

.add-post-cont #add-post-btn {
  padding: 8px 16px;
  color: #ECE9E2;
  background: #5B7053;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-post-cont #add-post-btn p {
  font-family: 'PP Radio Grotesk Regular';
  font-weight: 700;
  letter-spacing: 1px;
  color: red;
  margin-bottom: 0;
  font-size: 22px;
  color: white;
}

.add-post-cont #add-post-btn i {
  font-size: 26px;
}

.feed-grid-section {
  width: 100%;
  background: #ECE9E2;
  padding: 10px;
}
.feed-grid-section .feed-grid-cont {
  width: 100%;
  margin: auto;
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-width: 100%;
       column-width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  -moz-column-fill: auto;
       column-fill: auto;
  -moz-column-rule: 100%;
       column-rule: 100%;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.feed-grid-section .feed-grid-cont .grid-item:hover {
  cursor: pointer;
}
.feed-grid-section .feed-grid-cont .grid-item:hover .post-data-cont-top,
.feed-grid-section .feed-grid-cont .grid-item:hover .post-data-cont-bottom {
  opacity: 1;
}
.feed-grid-section .feed-grid-cont .grid-item:hover .post-hover {
  opacity: 1;
  cursor: pointer;
}
.feed-grid-section .feed-grid-cont .grid-item {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  -moz-column-span: 1;
       column-span: 1;
  background: #393633;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top,
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top {
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 15px 18px;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-avatar-cont,
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-avatar-cont img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: solid 2px #ECE9E2;
  background: #5B7053;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont {
  padding: 0 2px;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-top .post-like-cont i {
  color: #ECE9E2;
  font-size: 32px;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom {
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: #ECE9E2;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom i {
  font-size: 32px;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom .post-location {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
  line-height: 28px;
}
.feed-grid-section .feed-grid-cont .grid-item .post-data-cont-bottom .view-more {
  font-size: 20px;
  text-transform: capitalize;
}
.feed-grid-section .feed-grid-cont .grid-item .post-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(0deg, rgba(57, 54, 51, 0.95) 10%, rgba(57, 54, 51, 0.25) 95%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.feed-grid-section .feed-grid-cont .grid-item .post-img {
  width: 100%;
}

img {
  width: 20px;
}

.create-post-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 25;
  background: rgba(57, 54, 51, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 80px 200px;
}
.create-post-modal .create-exit-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}
.create-post-modal .create-exit-modal .exit-modal-icon {
  font-size: 30px;
}
.create-post-modal .create-post-modal-cont {
  width: 50vw;
  padding: 30px;
  background: #ECE9E2;
}
.create-post-modal #add-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-post-modal #add-post-form input {
  width: 50%;
}
.create-post-modal #add-post-form button {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .feed-grid-section {
    width: 100%;
    background: #ECE9E2;
    padding: 10px;
  }
  .feed-grid-section .feed-grid-cont {
    width: 92%;
    margin: auto;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .feed-grid-section {
    width: 100%;
    background: #ECE9E2;
    padding: 10px;
  }
  .feed-grid-section .feed-grid-cont {
    max-width: 1420px;
    margin: auto;
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
#login-body {
  background-color: #ECE9E2;
}
#login-body #login-img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
#login-body h1, #login-body h2 {
  font-family: "PP Radio Grotesk Bold";
  color: #393633;
  text-align: center;
}
#login-body h2 {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 31px;
}
#login-body h1 {
  font-size: 72px;
  margin-top: -13px;
  margin-bottom: 50px;
}
#login-body #tagline {
  display: none;
}
#login-body #login-form {
  text-align: center;
  padding: 0 50px;
}
#login-body #login-form input {
  width: 100%;
  padding: 20px;
  font-family: "PP Neue Montreal Light";
  font-size: 26px;
  border-radius: 0;
  border: 1px solid #393633;
  color: #524F42;
  background-color: #ECE9E2;
  margin-bottom: 16px;
}
#login-body #login-form #login-button-login-page {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: "PP Neue Montreal Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
}
#login-body #login-form #login-button-login-page:hover {
  background-color: #524F42;
}
#login-body #login-form hr {
  margin: 25px 0;
  border: 1px solid black;
}
#login-body #login-form #signup-button-login-page {
  border: none;
  background-color: #5B7053;
  color: white;
  font-family: "PP Neue Montreal Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
}
#login-body #login-form #signup-button-login-page:hover {
  background-color: #524F42;
}
#login-body #login-form a {
  text-decoration: none;
}
#login-body #login-form #guest-link {
  color: #5B7053;
  font-family: "PP Neue Montreal Light";
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#login-body #login-form #guest-link:hover {
  color: #393633;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  #login-body #login-img {
    height: 270px;
  }
  #login-body #login-form {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 768px) {
  #login-body #login-img {
    height: 338px;
  }
  #login-body #login-form {
    padding: 0 130px;
  }
  #login-body h1 {
    margin-bottom: 0;
  }
  #login-body #tagline {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-family: "PP Neue Montreal Light";
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  #login-body .login-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  #login-body .login-container #img-container {
    width: 48%;
  }
  #login-body .login-container #img-container #login-img {
    width: 100%;
    height: 100%;
    -o-object-position: 35%;
       object-position: 35%;
  }
  #login-body .login-container .login-content-container {
    padding: 0 50px;
    width: 52%;
    margin: 100px 0;
  }
  #login-body .login-container .login-content-container h1, #login-body .login-container .login-content-container h2 {
    text-align: left;
  }
  #login-body .login-container .login-content-container h1 {
    font-size: 80px;
  }
  #login-body .login-container .login-content-container #tagline {
    text-align: left;
  }
  #login-body .login-container .login-content-container #login-form {
    padding: 0 100px 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  #login-body .login-container .login-content-container {
    padding: 0 85px;
  }
  #login-body .login-container .login-content-container h1 {
    font-size: 120px;
  }
  #login-body .login-container .login-content-container h2 {
    font-size: 40px;
  }
  #login-body .login-container .login-content-container #login-form {
    padding: 0 200px 0 0;
  }
  #login-body .login-container .login-content-container #login-form #guest-link {
    margin-top: 10px;
  }
}
#signup-body {
  background-color: #ECE9E2;
}
#signup-body #login-img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
#signup-body h1, #signup-body h2 {
  font-family: "PP Radio Grotesk Bold";
  color: #393633;
  text-align: center;
}
#signup-body h2 {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 31px;
}
#signup-body h1 {
  font-size: 72px;
  margin-top: -13px;
  margin-bottom: 20px;
}
#signup-body #tagline {
  display: none;
}
#signup-body #signup-form {
  text-align: center;
  padding: 0 50px;
}
#signup-body #signup-form input {
  width: 100%;
  padding: 10px 20px;
  font-family: "PP Neue Montreal Light";
  font-size: 26px;
  border-radius: 0;
  border: 1px solid #393633;
  color: #524F42;
  background-color: #ECE9E2;
  margin-bottom: 16px;
}
#signup-body #signup-form #login-button-signup-page {
  border: none;
  background-color: #8C946F;
  color: white;
  font-family: "PP Neue Montreal Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
}
#signup-body #signup-form #login-button-signup-page:hover {
  background-color: #524F42;
}
#signup-body #signup-form hr {
  margin: 20px 0;
  border: 1px solid black;
}
#signup-body #signup-form #signup-button-signup-page {
  border: none;
  background-color: #5B7053;
  color: white;
  font-family: "PP Neue Montreal Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-size: 24px;
}
#signup-body #signup-form #signup-button-signup-page:hover {
  background-color: #524F42;
}
#signup-body #signup-form a {
  text-decoration: none;
}
#signup-body #signup-form #guest-link {
  color: #5B7053;
  font-family: "PP Neue Montreal Light";
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#signup-body #signup-form #guest-link:hover {
  color: #393633;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  #signup-body #login-img {
    height: 270px;
  }
  #signup-body #signup-form {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 768px) {
  #signup-body #login-img {
    height: 338px;
  }
  #signup-body #signup-form {
    padding: 0 130px;
  }
  #signup-body h1 {
    margin-bottom: 0;
  }
  #signup-body #tagline {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-family: "PP Neue Montreal Light";
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  #signup-body .signup-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  #signup-body .signup-container #img-container {
    width: 48%;
  }
  #signup-body .signup-container #img-container #login-img {
    width: 100%;
    height: 100%;
    -o-object-position: 35%;
       object-position: 35%;
  }
  #signup-body .signup-container .signup-content-container {
    padding: 0 50px;
    width: 52%;
    margin: 60px 0 100px;
  }
  #signup-body .signup-container .signup-content-container h1, #signup-body .signup-container .signup-content-container h2 {
    text-align: left;
  }
  #signup-body .signup-container .signup-content-container h1 {
    font-size: 80px;
  }
  #signup-body .signup-container .signup-content-container #tagline {
    text-align: left;
  }
  #signup-body .signup-container .signup-content-container #signup-form {
    padding: 0 100px 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  #signup-body .signup-container .signup-content-container {
    padding: 0 85px;
    margin: 100px 0;
  }
  #signup-body .signup-container .signup-content-container h1 {
    font-size: 120px;
  }
  #signup-body .signup-container .signup-content-container h2 {
    font-size: 40px;
  }
  #signup-body .signup-container .signup-content-container #signup-form {
    padding: 0 200px 0 0;
  }
  #signup-body .signup-container .signup-content-container #signup-form #guest-link {
    margin-top: 10px;
  }
}
body {
  background: #524F42;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "PP Neue Montreal Bold";
  font-weight: 800;
}