@import 'modules/variables.scss';
@import 'modules/login.scss';

body {
    background: $Black;
}


// --------------------- Masonry Grid (Desktop) ---------------------

h1 {
    @include Header;
}

.feed-grid-section {

    width: 100%;
    background: $White;
    padding: 50px 0;

    .feed-grid-cont {
        width: 900px;
        margin: auto;
        column-count: 3;
        column-gap: 10px;

        .grid-item:nth-child(1) {
            height: 260px;
        }

        .grid-item:nth-child(2) {
            height: 394px;
        }

        .grid-item:nth-child(3) {
            height: 522px;
        }

        .grid-item:nth-child(4) {
            height: 455px;
        }

        .grid-item:nth-child(5) {
            height: 610px;
        }

        .grid-item:nth-child(6) {
            height: 180px;
        }

        .grid-item:nth-child(7) {
            height: 444px;
        }

        .grid-item:nth-child(8) {
            height: 568px;
        }

        .grid-item {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            aspect-ratio: 1/1;
        }

        .item-1 {
            background: blue;
        }

        .item-2 {
            background: red;
        }

        .item-3 {
            background: green;
        }

        .item-4 {
            background: green;
        }
    }

}