// ------------------------------- Colours -------------------------------

$White: #ECE9E2;
$Black: #393633;
$Brown: #524F42;
$PrimaryGreen: #5B7053;
$SecondaryGreen: #8C946F;
$TertiaryGreen: #A2A288;